<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Warehouse
    <span>
      <i class="fas fa-warehouse"></i>
    </span>
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/solicitacoes">Minhas Solicitações</a>
    </li>
  </ul>

  <div class="input-group" style="width: 40%">
    <!-- <div class="input-group-prepend">
      <button class="btn btn-light" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div> -->

    <input type="search" class="form-control" placeholder="Procurar Solicitações">
  </div>

  <ul class="navbar-nav ml-auto">
    <span onload="getUsuario" id="getUsuario" class="navbar-text"></span>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-sign-out-alt"></i> Sair</a>
    </li>
  </ul>
</nav>