<html>

<head>
  <% const title="Home" %>
    <% include ../views/partials/header %>
</head>

<body>
  <% include ../views/partials/nav-bar %>


    <% include ../views/partials/scripts %>
</body>

</html>