<html>
<header></header>
<% include ../../views/partials/header %>

  <body>
    <% include ../../views/partials/nav-bar %>
      <div class="container">
        <h2>Solicitações</h2>

        <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">Produto </th>
                  <th scope="col">Descricao</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
        </table>
      </div>
      <% include ../../views/partials/scripts %>
  </body>

</html>