<html>
<header></header>
<% include ../../views/partials/header %>

  <body>
    <% include ../../views/partials/nav-bar %>
      <div class="container">
        <h2>Solicitações</h2>

        <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col" id = "descricao">Descricao</th>
                  <th scope="col" id = "quantidade">Quantidade</th>
                  <th scope="col" id = "status" >Status</th>
              </tr>
          </thead>
            <tbody id="tabela-solicitacao">
            </tbody>
        </table>
          <script src="/js/minhasSolicitacoes.js"></script>
      </div>
    
      <% include ../../views/partials/scripts %>
  </body>

</html>