<html>
<% include ../../views/partials/header %>

  <body>
    <% include ../../views/partials/nav-bar %>
      <div class="container" style="margin: 0 auto; width:40%;">
        <h2>Adicionar Solicitaçao</h2>
        <form action="/produtos/adicionar" method="post">
          <div class="form-group ">
            <label>Descrição</label>
            <input type="text " class="form-control" name="descricao">
          </div>
          <div class="form-group ">
            <label>Quantidade</label>
            <input type="text " class="form-control " name="quantidade">
          </div>
          <div class="form-group ">
            <label>Justificativa</label>
            <input type="text " class="form-control " name="justificativa">
          </div>
          <div class="form-group ">
            <label>Valor de Referência</label>
            <input type="text " class="form-control " name="val_ref">
          </div>
          <div class="form-group ">
            <label>Pregão</label>
            <input type="text " class="form-control " name="pregao">
          </div>
          <div class="form-group ">
            <label>Internet</label>
            <input type="text " class="form-control " name="internet">
          </div>
          <div class="form-group ">
            <label>Oficio ou Email</label>
            <input type="text " class="form-control " name="oficio_email">
          </div>
          <div class="form-group ">
            <label>Orçamento 1</label>
            <input type="text " class="form-control " name="orcamento1">
          </div>
          <div class="form-group ">
            <label>Orçamento 2</label>
            <input type="text " class="form-control " name="orcamento2">
          </div>
          <div class="form-group ">
            <label>Orçamento 3</label>
            <input type="text " class="form-control " name="orcamento3">
          </div>

          <button type="submit" class="btn btn-success ">Salvar</button>
          <a href="/produtos" class="btn btn-warning">Cancelar</a>
        </form>
      </div>
  </body>


</html>